<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>114864298859-fjas84tkuvp9jg60ehjhcqtsq3ld38q8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.114864298859-fjas84tkuvp9jg60ehjhcqtsq3ld38q8</string>
	<key>API_KEY</key>
	<string>AIzaSyCpO4m2Pzs8iDCBXlA_y2aOr_8z_sNTWSY</string>
	<key>GCM_SENDER_ID</key>
	<string>114864298859</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.scorp.sesa.sesa</string>
	<key>PROJECT_ID</key>
	<string>sesa-716cf</string>
	<key>STORAGE_BUCKET</key>
	<string>sesa-716cf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:114864298859:ios:ebc0a6afe07e2163030a2e</string>
</dict>
</plist>